<!DOCTYPE html>
<html>
<head>
	<title>News Busters</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
	body {
		background-image: url("https://i.ytimg.com/vi/A1LtAYGom9Y/maxresdefault.jpg");
		background-size: 100%;
	}
	h1 {
		padding-top: 50px;
		padding-bottom: 20px;
		font-size: 128px;
		font-family: 'Anton', sans-serif;
		font-weight: bold;
	}
	.button {
		padding-top: 10px;
		background-color: #555555;
		color: white;
		font-size: 24px;
		padding: 14px 40px;
		border-radius: 12px;
		width: 50%;
	}
	
</style>
</head>
<body>
	<h1><center>NEWS BUSTERS</center></h1>

	<center><a href="/sim" class="button">Click to get the most reliable news of the hour</a></center>

</body>
</html>